<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {% load static %}

    <!-- CSS CUSTOM -->
    <link rel="stylesheet" href="{% static 'css/mesh.css' %}">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam&display=swap"
      rel="stylesheet"/>
   
    <title>
      {% block title %}
      This is Our Blog
      {% endblock%}
    </title>
  </head>
  <body>
    <header>
      <nav class="main-nav">
        <a class="brand" href="/">
          <h1>BestFriends Forever</h1>
        </a>
        <div class="harmburger">
          <div class="burger"></div>
        </div>
        <sidenav class="phone-menu">
          <ul>
            <li><a href="index.html" class="phone-nav-link">Home</a></li>
            <li><a href="Aboutus.html" class="phone-nav-link">About us</a></li>
            <li>
              <a href="Contact.html" class="phone-nav-link">Contact Us</a>
            </li>
            <li><a href="Other.html" class="phone-nav-link">Other</a></li>
          </ul>
        </sidenav>
        <div class="desktop-menu">
          <ul>
            <li><a href="index.html" class="phone-nav-link">Home</a></li>
            <li><a href="Aboutus.html" class="phone-nav-link">About us</a></li>
            <li>
              <a href="Contact.html" class="phone-nav-link">Contact Us</a>
            </li>
            <li><a href="Other.html" class="phone-nav-link">Other</a></li>
          </ul>
        </div>
      </nav>
    </header>
    

    
    <footer>
      <section class="footer-item">
        <h1>Don't miss a post, Subscribe!</h1>
        <form class="subscribe-form">
          <input type="email" required placeholder="your@email.com" />
          <button type="submit">Subscribe</button>
        </form>
      </section>
      <section class="footer-item">
        <h1>Connect With Us</h1>
        <div class="socials">
          <div class="image1">
          <a href="https://mail.google.com/mail/u/0/#inbox" class="social-link">
            <img src="/img/gmail1.png" style="width:45px; height:45px;" />
          </a>
          </div>
          <a href="https://www.instagram.com/___b.arbie___/" class="social-link">
            <img src="/img/instagram.png" style="width:45px; height:45px;" />
          </a>
          <a href="https://twitter.com/Bnanyingi1" class="social-link">
            <img src="/img/twitter.png" style="width:45px; height:45px;"/>
          </a>
          <a href="https://www.tiktok.com/@rasta__barbie?lang=en&is_copy_url=1&is_from_webapp=v1" class="social-link">
            <img src="/img/tiktok.png" style="width:45px; height:45px;"/>
          </a>
        </div>
      </section>
      <section class="footer-item">
        <h1>BestFriends Forever</h1>
        <p class="copyright">
          &#169; 2021 All Rights Reserved - Barbara Nanyingi & Pouline Wakesho
        </p>
      </section>
    </footer>

    <div class = "container">
      {% block content %}

      {% endblock%}
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/8.6.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
<script src="{% static 'js/mesh.js' %}"></script>
  </body>
</html>
